FORMAT: 1A
HOST: https://private-09905-askbox.apiary-mock.com/

# Askbox API

# Group Structure of a API

Each API call will return the following structure of data:

        {
            "error": "", // error code
            "error_message": "",
            "data": {}
        }

or

        {
            "error": "",
            "error_message": "",
            "data": [],
            "pagination": {
                offset: 0,
                limit: 10,
                sort: asc, // or desc
                total: 100
            }
        }
        


All the list API call, should have the following parameters:
* query: a string used to filter the list (some API may not have this parameters)
* offset: the starting item to be requested. Default is 0.
* limit: number of items to be retrieving. Default is 10.
* sort: string, should be 'asc' or 'desc'. Default is 'asc'.

HTTP Code

* 200 – OK – Eyerything is working
* 201 – OK – New resource has been created
* 204 – OK – The resource was successfully deleted

* 304 – Not Modified – The client can use cached data

* 400 – Bad Request – The request was invalid or cannot be served. The exact error should be explained in the error payload. E.g. „The JSON is not valid“
* 401 – Unauthorized – The request requires an user authentication
* 403 – Forbidden – The server understood the request, but is refusing it or the access is not allowed.
* 404 – Not found – There is no resource behind the URI.
* 422 – Unprocessable Entity – Should be used if the server cannot process the enitity, e.g. if an image cannot be formatted or mandatory fields are missing in the payload.

* 500 – Internal Server Error – API developers should avoid this error. If an error occurs in the global catch blog, the stracktrace should be logged and not returned as response.



# Group Users

## Featured Users [/featured_users?query={query}&offset={offset}&limit={limit}&sort={sort}]

### /featured_users [GET]

+ Response 200 (application/json)

        {
            "error": "",
            "error_message": "",
            "data": [
                {
                    "id": "testuser1_id",
                    "tagline": "testuser",
                    "fullname": "Test User",
                    "number_of_followers": 3,
                    "avatar_url": "https://s3-ap-southeast-1.amazonaws.com/askbox.medias/avatar.png",
                    "is_following": false
                },
                {
                    "id": "testuser2_id",
                    "tagline": "testuser2",
                    "fullname": "Test User 2",
                    "number_of_followers": 3,
                    "avatar_url": "https://s3-ap-southeast-1.amazonaws.com/askbox.medias/avatar.png",
                    "is_following": false
                },
                {
                    "id": "testuser3_id",
                    "tagline": "testuser3",
                    "fullname": "Test User 3",
                    "number_of_followers": 3,
                    "avatar_url": "https://s3-ap-southeast-1.amazonaws.com/askbox.medias/avatar.png",
                    "is_following": false
                }
            ]
            
        }

## Newcomers Users [/new_users?query={query}&offset={offset}&limit={limit}&sort={sort}]

### /new_users [GET]

+ Response 200 (application/json)

        {
            "error": "",
            "error_message": "",
            "data": [
                {
                    "id": "testuser1_id",
                    "tagline": "testuser",
                    "fullname": "Test User",
                    "number_of_followers": 3,
                    "avatar_url": "https://s3-ap-southeast-1.amazonaws.com/askbox.medias/avatar.png",
                    "is_following": false
                },
                {
                    "id": "testuser2_id",
                    "tagline": "testuser2",
                    "fullname": "Test User 2",
                    "number_of_followers": 3,
                    "avatar_url": "https://s3-ap-southeast-1.amazonaws.com/askbox.medias/avatar.png",
                    "is_following": false
                },
                {
                    "id": "testuser3_id",
                    "tagline": "testuser3",
                    "fullname": "Test User 3",
                    "number_of_followers": 3,
                    "avatar_url": "https://s3-ap-southeast-1.amazonaws.com/askbox.medias/avatar.png",
                    "is_following": false
                }
            ]
            
        }


## Users Collection [/users?offset={offset}&limit={limit}&sort={sort}]

### List Users With Query [GET]

+ Response 200 (application/json)

        {
            "error": "",
            "error_message": "",
            "data": [
                {
                    "id": "testuser1_id",
                    "username": "testuser",
                    "fullname": "Test User",
                    "number_of_followers": 3,
                    "avatar_url": "https://s3-ap-southeast-1.amazonaws.com/askbox.medias/avatar.png",
                    "is_following": false
                },
                {
                    "id": "testuser2_id",
                    "username": "testuser2",
                    "fullname": "Test User 2",
                    "number_of_followers": 3,
                    "avatar_url": "https://s3-ap-southeast-1.amazonaws.com/askbox.medias/avatar.png",
                    "is_following": false
                },
                {
                    "id": "testuser3_id",
                    "username": "testuser3",
                    "fullname": "Test User 3",
                    "number_of_followers": 3,
                    "avatar_url": "https://s3-ap-southeast-1.amazonaws.com/askbox.medias/avatar.png",
                    "is_following": false
                }
            ]
            
        }

## User [/users/{user_id}]

### Get User's profile [GET]

+ Response 200 (application/json)

        {
            "error": "",
            "error_message": "",
            "data": {
                    "id": "testuser1_id",
                    "username": "testuser",
                    "fullname": "Test User",
                    "tagline": "Make-up",
                    "number_of_followers": 268,
                    "number_of_following": 394,
                    "description": "Obsesses with everything beauty, make-up",
                    "avatar_url": "https://s3-ap-southeast-1.amazonaws.com/askbox.medias/avatar.png",
                    "is_following": false
            }
        }

## Get CurrentUser [/users/me]

The apply_status field will have the following values:
- new: This user is new to the process.
- pending: This user applied to be able to receive questions.
- approved: This user was approved by admin, to be able to receive questions.

### /users/me [GET]

+ Response 200 (application/json)

        {
            "error": "",
            "error_message": "",
            "data": {
                    "id": "dkkdasdf",
                    "username": "xiaxue",
                    "fullname": "Xia Xue",
                    "tagline": "Make-up",
                    "number_of_followers": 268,
                    "number_of_following": 394,
                    "description": "Obsesses with everything beauty, make-up",
                    "avatar_url": "http://placehold.it/150x150",
                    "apply_status": "pending"
            }
        }

### Update user's profile [POST]

+ Request (application/json)

        {
            "tagline": "facebook", // email, facebook, instagram
            "fullname": "",
            "description": "",
            "avatar_url": ""
        }

+ Response 200 (application/json)

        {
            "error": "",
            "error_message": "",
            "data": {}
        }
        
## Follow User [/follows/{user_to_follow}]

### One user will follow another user [POST]

+ Request (application/json)

        {
        }

+ Response 200 (application/json)

        {
            "error": "",
            "error_message": "",
            "data": {}
        }

### One user will unfollow another user [DELETE]

+ Request (application/json)

        {
        }
+ Response 200 (application/json)

        {
            "error": "",
            "error_message": "",
            "data": {}
        }
        
# Group Authentication

## Signup [/auth/signup]

### /auth/signup [POST]

+ Request (application/json)

        {
            "email": "",
            "password": "",
            "username": "",
            "fullname": ""
        }

+ Response 200 (application/json)

    + Body

            {
                "error": "",
                "error_message": "",
                "data": ""
            }


## Local authentication [/auth/local]

### Login using email/username & password [POST]

+ Request (application/json)

        {
            "username": "", // One of
            "email": "",    // these 2 fields
            "password": ""
        }

+ Response 200 (application/json)

    + Body

            {
                "error": "",
                "error_message": "",
                "data": {
                    "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6MSwidXNlcm5hbWUiOiJua2hkbyIsImZ1bGxuYW1lIjoiSG9hbmcgRG8iLCJlbWFpbCI6ImhvYW5nZG8uZGg5NEBnbWFpbC5jb20iLCJmYWNlYm9va190b2tlbiI6bnVsbCwiaW5zdGFncmFtX3Rva2VuIjpudWxsLCJpc19hcHByb3ZlZCI6ZmFsc2UsIlByb2ZpbGUiOnsiaWQiOjEsInRhZ2xpbmUiOm51bGwsImRlc2NyaXB0aW9uIjpudWxsLCJhdmF0YXJfdXJsIjpudWxsLCJjcmVhdGVkX2F0IjoiMjAxNy0wMi0yM1QxNDo0NzowOS4yMzNaIiwidXBkYXRlZF9hdCI6IjIwMTctMDItMjNUMTQ6NDc6MDkuMjMzWiIsInVzZXJfaWQiOjF9LCJpYXQiOjE0ODc4NjEyNjl9.UUqG_k9c4cu2BSWy_3Wehq_YvNGQMDBiydbtvWRJzpM",
                    "user": {
                        "id": 1,
                        "username": "nkhdo",
                        "fullname": "Hoang Do",
                        "email": "hoangdo.dh94@gmail.com",
                        "tagline": null,
                        "description": null,
                        "avatar_url": null,
                    }
                }
            }

## Facebook authentication [/auth/facebook]

### Login using facebook account [POST]

+ Request (application/json)

        {
            "fbtoken": "token from facebook",
            "user_existed": true
        }

+ Response 200 (application/json)

    + Body

            {
                "error": "",
                "error_message": "",
                "data": {
                    "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6MSwidXNlcm5hbWUiOiJua2hkbyIsImZ1bGxuYW1lIjoiSG9hbmcgRG8iLCJlbWFpbCI6ImhvYW5nZG8uZGg5NEBnbWFpbC5jb20iLCJmYWNlYm9va190b2tlbiI6bnVsbCwiaW5zdGFncmFtX3Rva2VuIjpudWxsLCJpc19hcHByb3ZlZCI6ZmFsc2UsIlByb2ZpbGUiOnsiaWQiOjEsInRhZ2xpbmUiOm51bGwsImRlc2NyaXB0aW9uIjpudWxsLCJhdmF0YXJfdXJsIjpudWxsLCJjcmVhdGVkX2F0IjoiMjAxNy0wMi0yM1QxNDo0NzowOS4yMzNaIiwidXBkYXRlZF9hdCI6IjIwMTctMDItMjNUMTQ6NDc6MDkuMjMzWiIsInVzZXJfaWQiOjF9LCJpYXQiOjE0ODc4NjEyNjl9.UUqG_k9c4cu2BSWy_3Wehq_YvNGQMDBiydbtvWRJzpM",
                    "user": {
                        "id": "1",
                        "username": "nkhdo",
                        "fullname": "Hoang Do",
                        "email": "hoangdo.dh94@gmail.com",
                        "tagline": null,
                        "description": null,
                        "avatar_url": null,
                    }
                }
            }

# Group Feeds

## Home Feeds [/questions/home?offset={offset}&limit={limit}]

### /questions/home [GET]

+ Response 200 (application/json)

        {
            "error": "",
            "error_message": "",
            "data": [
                {
                    "answered_by": {
                        "id": "testuser3_id",
                        "username": "Rchlwngx",
                        "fullname": "Rachel Wong",
                        "tagline": "Beauty Blogger, Make-up expert.",
                        "number_of_followers": 268,
                        "number_of_following": 394,
                        "description": "Obsesses with everything beauty, make-up",
                        "avatar_url": "https://avatars.io/instagram/RachelWong",
                    },
                    
                    "asked_by": {
                        "id": "testuser2_id",
                        "username": "Xx",
                        "fullname": "Xia Xue",
                        "tagline": "I am unique, the only unique on in the world.",
                        "number_of_followers": 18,
                        "number_of_following": 24,
                        "description": "Obsesses with everything beauty, make-up",
                        "avatar_url": "https://avatars.io/instagram/XiaXue",
                    },
                    
                    "video": {
                        "id": "video1",
                        "cover_url": "https://dxve5j6gnlkmu.cloudfront.net/1488898739554/frame_0000.png",
                        "video_url": "https://dxve5j6gnlkmu.cloudfront.net/1488898739554/IMG_0629.mp4",
                        "unlocked_by_user": false,
                        "length": 54
                    },
                    
                    "id": "question1",
                    "question": "Hey Rachel, is there any downsides to being a celebrity in Singapore?",
                    "number_of_likes": 15,
                    "liked_by_me": false,
                    "question_creation_date": "MM-DD-yyyy HH:mm:ss",
                    "question_answered_date": "MM-DD-yyyy HH:mm:ss"
                    
                    
                },
                
                {
                    "answered_by": {
                        "id": "nrlkheng",
                        "username": "NRLKheng",
                        "fullname": "Narelle Kheng",
                        "tagline": "Beauty Expert, Freedom Advocate, Blogger.",
                        "number_of_followers": 12,
                        "number_of_following": 34,
                        "description": "Obsesses with everything beauty, make-up",
                        "avatar_url": "https://avatars.io/instagram/NarelleKheng",
                    },
                    
                    "asked_by": {
                        "id": "testuser2_id",
                        "username": "MeltansyB",
                        "fullname": "Melania Tan",
                        "tagline": "I am unique, the only unique on in the world.",
                        "number_of_followers": 58,
                        "number_of_following": 21,
                        "description": "Obsesses with everything beauty, make-up",
                        "avatar_url": "https://avatars.io/instagram/XiaXue",
                    },
                    
                    "video": {
                        "id": "video2",
                        "cover_url": "https://dxve5j6gnlkmu.cloudfront.net/1488898739554/frame_0000.png",
                        "video_url": "https://dxve5j6gnlkmu.cloudfront.net/1488898739554/IMG_0629.mp4",
                        "unlocked_by_user": false,
                        "length": 54
                    },
                    
                    "id": "question2",
                    "question": "Hey Rachel, is there any downsides to being a celebrity in Singapore?",
                    "number_of_likes": 15,
                    "liked_by_me": false,
                    
                    "question_creation_date": "MM-DD-yyyy HH:mm:ss",
                    "question_answered_date": "MM-DD-yyyy HH:mm:ss"
                }
            ]
        }

## Latest Feeds [/questions/latest?offset={offset}&limit={limit}]

### /questions/latest [GET]

+ Response 200 (application/json)

        {
            "error": "",
            "error_message": "",
            "data": [
                {
                    "answered_by": {
                        "id": "testuser3_id",
                        "username": "Rchlwngx",
                        "fullname": "Rachel Wong",
                        "tagline": "Beauty Blogger, Make-up expert.",
                        "number_of_followers": 268,
                        "number_of_following": 394,
                        "description": "Obsesses with everything beauty, make-up",
                        "avatar_url": "https://avatars.io/instagram/RachelWong",
                    },
                    
                    "asked_by": {
                        "id": "testuser2_id",
                        "username": "Xx",
                        "fullname": "Xia Xue",
                        "tagline": "I am unique, the only unique on in the world.",
                        "number_of_followers": 18,
                        "number_of_following": 24,
                        "description": "Obsesses with everything beauty, make-up",
                        "avatar_url": "https://avatars.io/instagram/XiaXue",
                    },
                    
                    "video": {
                        "id": "video1",
                        "cover_url": "https://dxve5j6gnlkmu.cloudfront.net/1488898739554/frame_0000.png",
                        "video_url": "https://dxve5j6gnlkmu.cloudfront.net/1488898739554/IMG_0629.mp4",
                        "unlocked_by_user": false,
                        "length": 54
                    },
                    
                    "id": "question1",
                    "question": "Hey Rachel, is there any downsides to being a celebrity in Singapore?",
                    "number_of_likes": 15,
                    "liked_by_me": false,
                    

                    "question_creation_date": "MM-DD-yyyy HH:mm:ss",
                    "question_answered_date": "MM-DD-yyyy HH:mm:ss"
                },
                
                {
                    "answered_by": {
                        "id": "nrlkheng",
                        "username": "NRLKheng",
                        "fullname": "Narelle Kheng",
                        "tagline": "Beauty Expert, Freedom Advocate, Blogger.",
                        "number_of_followers": 12,
                        "number_of_following": 34,
                        "description": "Obsesses with everything beauty, make-up",
                        "avatar_url": "https://avatars.io/instagram/NarelleKheng",
                    },
                    
                    "asked_by": {
                        "id": "testuser2_id",
                        "username": "MeltansyB",
                        "fullname": "Melania Tan",
                        "tagline": "I am unique, the only unique on in the world.",
                        "number_of_followers": 58,
                        "number_of_following": 21,
                        "description": "Obsesses with everything beauty, make-up",
                        "avatar_url": "https://avatars.io/instagram/XiaXue",
                    },
                    
                    "video": {
                        "id": "video2",
                        "cover_url": "https://dxve5j6gnlkmu.cloudfront.net/1488898739554/frame_0000.png",
                        "video_url": "https://dxve5j6gnlkmu.cloudfront.net/1488898739554/IMG_0629.mp4",
                        "unlocked_by_user": false,
                        "length": 54
                    },
                    
                    "id": "question2",
                    "question": "Hey Rachel, is there any downsides to being a celebrity in Singapore?",
                    "number_of_likes": 15,
                    "liked_by_me": false,
                    

                    "question_creation_date": "MM-DD-yyyy HH:mm:ss",
                    "question_answered_date": "MM-DD-yyyy HH:mm:ss"
                }
            ]
        }

## Profile Feeds - current user's questions [/questions/{user_id}?offset={offset}&limit={limit}]

+ Parameters
    + user_id (string) - ID of the User in the form of a string

### /questions/{user_id} [GET]

+ Response 200 (application/json)

        {
            "error": "",
            "error_message": "",
            "data": [
                {
                    "answered_by": {
                        "id": "testuser3_id",
                        "username": "Rchlwngx",
                        "fullname": "Rachel Wong",
                        "tagline": "Beauty Blogger, Make-up expert.",
                        "number_of_followers": 268,
                        "number_of_following": 394,
                        "description": "Obsesses with everything beauty, make-up",
                        "avatar_url": "https://avatars.io/instagram/RachelWong",
                    },
                    
                    "asked_by": {
                        "id": "testuser2_id",
                        "username": "Xx",
                        "fullname": "Xia Xue",
                        "tagline": "I am unique, the only unique on in the world.",
                        "number_of_followers": 18,
                        "number_of_following": 24,
                        "description": "Obsesses with everything beauty, make-up",
                        "avatar_url": "https://avatars.io/instagram/XiaXue",
                    },
                    
                    "video": {
                        "id": "video1",
                        "cover_url": "https://dxve5j6gnlkmu.cloudfront.net/1488898739554/frame_0000.png",
                        "video_url": "https://dxve5j6gnlkmu.cloudfront.net/1488898739554/IMG_0629.mp4",
                        "unlocked_by_user": false,
                        "length": 54
                    },
                    
                    "id": "question1",
                    "question": "Hey Rachel, is there any downsides to being a celebrity in Singapore?",
                    "number_of_likes": 15,
                    "liked_by_me": false,
                    

                    "question_creation_date": "MM-DD-yyyy HH:mm:ss",
                    "question_answered_date": "MM-DD-yyyy HH:mm:ss"
                },
                
                {
                    "answered_by": {
                        "id": "nrlkheng",
                        "username": "NRLKheng",
                        "fullname": "Narelle Kheng",
                        "tagline": "Beauty Expert, Freedom Advocate, Blogger.",
                        "number_of_followers": 12,
                        "number_of_following": 34,
                        "description": "Obsesses with everything beauty, make-up",
                        "avatar_url": "https://avatars.io/instagram/NarelleKheng",
                    },
                    
                    "asked_by": {
                        "id": "testuser2_id",
                        "username": "MeltansyB",
                        "fullname": "Melania Tan",
                        "tagline": "I am unique, the only unique on in the world.",
                        "number_of_followers": 58,
                        "number_of_following": 21,
                        "description": "Obsesses with everything beauty, make-up",
                        "avatar_url": "https://avatars.io/instagram/XiaXue",
                    },
                    
                    "video": {
                        "id": "video2",
                        "cover_url": "https://dxve5j6gnlkmu.cloudfront.net/1488898739554/frame_0000.png",
                        "video_url": "https://dxve5j6gnlkmu.cloudfront.net/1488898739554/IMG_0629.mp4",
                        "unlocked_by_user": false,
                        "length": 54
                    },
                    
                    "id": "question2",
                    "question": "Hey Rachel, is there any downsides to being a celebrity in Singapore?",
                    "number_of_likes": 15,
                    "liked_by_me": false,
                    

                    "question_creation_date": "MM-DD-yyyy HH:mm:ss",
                    "question_answered_date": "MM-DD-yyyy HH:mm:ss"
                }
            ]
        }

## Profile - Unlocked questions [/unlocked_questions/{user_id}?offset={offset}&limit={limit}]

+ Parameters
    + user_id (string) - ID of the User in the form of a string

### /unlocked_questions/{user_id} [GET]

+ Response 200 (application/json)

        {
            "error": "",
            "error_message": "",
            "data": [
                {
                    "answered_by": {
                        "id": "testuser3_id",
                        "username": "Rchlwngx",
                        "fullname": "Rachel Wong",
                        "tagline": "Beauty Blogger, Make-up expert.",
                        "number_of_followers": 58,
                        "number_of_following": 21,
                        "description": "Obsesses with everything beauty, make-up",
                        "avatar_url": "http://placehold.it/150x150"
                    },
                    
                    "asked_by": {
                        "id": "testuser2_id",
                        "username": "Xx",
                        "fullname": "Xia Xue",
                        "tagline": "I am unique, the only unique on in the world.",
                        "number_of_followers": 58,
                        "number_of_following": 21,
                        "description": "Obsesses with everything beauty, make-up",
                        "avatar_url": "http://placehold.it/150x150"
                    },
                    
                    "video": {
                        "id": "xadfasf",
                        "cover_url": "https://dxve5j6gnlkmu.cloudfront.net/1488898739554/frame_0000.png",
                        "length": 54,
                        "video_url": "https://dxve5j6gnlkmu.cloudfront.net/1488898739554/IMG_0629.mp4",
                        "unlocked_by_user": false
                    },
                    
                    "id": "dkkdasdf",
                    "question": "Hey Rachel, is there any downsides to being a celebrity in Singapore?",
                    "number_of_likes": 15,
                    "liked_by_me": false,
                    
                    
                    "question_creation_date": "MM-DD-yyyy HH:mm:ss",
                    "question_answered_date": "MM-DD-yyyy HH:mm:ss"
                }
            ]
        }
        
# Group Questions

## Add question [/questions]

### /questions [POST]

+ Request (application/json)

        {
            "answerer_id": "testuser_2",
            "question": "I want to know about your past.",
            "price": "3", 
            "is_anonymous": true
        }

+ Response 200 (application/json)

    + Body

            {
                "error": "",
                "error_message": "",
                "data": ""
            }

## Add answers [/answers/{question_id}]

### /answers/{question_id} [POST]

+ Request (application/json)

        {
            "video_url": "/path/to/video/on/s3"
        }

+ Response 200 (application/json)

    + Body

            {
                "error": "",
                "error_message": "",
                "data": "success"
            }


## Question Detail [/questions/{question_id}]

### /questions/{question_id} [GET]

+ Response 200 (application/json)

        {
            "error": "",
            "error_message": "",
            "data": [
                {
                    "answered_by": {
                        "id": "testuser3_id",
                        "username": "Rchlwngx",
                        "fullname": "Rachel Wong",
                        "tagline": "Beauty Blogger, Make-up expert.",
                        "number_of_followers": 58,
                        "number_of_following": 21,
                        "description": "Obsesses with everything beauty, make-up",
                        "avatar_url": "https://avatars.io/instagram/RachelWong",
                    },
                    
                    "asked_by": {
                        "id": "testuser2_id",
                        "username": "Xx",
                        "fullname": "Xia Xue",
                        "tagline": "I am unique, the only unique on in the world.",
                        "number_of_followers": 58,
                        "number_of_following": 21,
                        "description": "Obsesses with everything beauty, make-up",
                        "avatar_url": "https://avatars.io/instagram/XiaXue",
                    },
                    
                    "video": {
                        "id": "xadfasf",
                        "cover_url": "https://dxve5j6gnlkmu.cloudfront.net/1488898739554/frame_0000.png",
                        "video_url": "https://dxve5j6gnlkmu.cloudfront.net/1488898739554/IMG_0629.mp4",
                        "unlocked_by_user": false,
                        "length": 54
                    },
                    
                    "id": "dkkdasdf",
                    "question": "Hey Rachel, is there any downsides to being a celebrity in Singapore?",
                    "number_of_likes": 15,
                    "liked_by_me": false,
                    "question_creation_date": "MM-DD-yyyy HH:mm:ss",
                    "question_answered_date": "MM-DD-yyyy HH:mm:ss"
                }
            ]
        }

## Unlock one question [/questions/{question_id}/unlock]

### /questions/{question_id}/unlock [POST]

+ Request (application/json)

        {
        }

+ Response 200 (application/json)

    + Body

            {
                "error": "",
                "error_message": "",
                "data": ""
            }

## Like one question [/questions/{question_id}/like]

### /questions/{question_id}/like [POST]

+ Request (application/json)

        {
        }

+ Response 200 (application/json)

    + Body

            {
                "error": "",
                "error_message": "",
                "data": "success"
            }

## Unlike one question [/questions/{question_id}/unlike]

### /questions/{question_id}/unlike [POST]

+ Request (application/json)

        {
        }

+ Response 200 (application/json)

    + Body

            {
                "error": "",
                "error_message": "",
                "data": "success"
            }

## Ignore one question [/questions/{question_id}/ignore]

### /questions/{question_id}/ignore [POST]

+ Request (application/json)

        {
            "message": "Reason to ignore this question"
        }

+ Response 200 (application/json)

    + Body

            {
                "error": "",
                "error_message": "",
                "data": "success"
            }


## Pending asking [/questions/me/pending_asking]

### /questions/me/pending_asking [GET]

+ Response 200 (application/json)

        {
            "error": "",
            "error_message": "",
            "data": [
                {
                    "title": "Asked",
                    "type": 0, 
                    "data": [
                        {
                            "answered_by": {
                                "id": "testuser3_id",
                                "username": "Rchlwngx",
                                "fullname": "Rachel Wong",
                                "tagline": "Beauty Blogger, Make-up expert.",
                                "number_of_followers": 58,
                                "number_of_following": 21,
                                "description": "Obsesses with everything beauty, make-up",
                                "avatar_url": "https://avatars.io/instagram/RachelWong"
                            },
                            
                            "asked_by": {
                                "id": "testuser2_id",
                                "username": "Xx",
                                "fullname": "Xia Xue",
                                "tagline": "I am unique, the only unique on in the world.",
                                "number_of_followers": 58,
                                "number_of_following": 21,
                                "description": "Obsesses with everything beauty, make-up",
                                "avatar_url": "https://avatars.io/instagram/XiaXue"
                            },
                            
                            "id": "dkkdasdf",
                            "question": "Hey Rachel, is there any downsides to being a celebrity in Singapore?",
                            "number_of_likes": 15,
                            "liked_by_me": false,
                            "price": 20,
                            "question_creation_date": "01-05-2017 05:07:03",
                            "deadline": "04-05-2017 05:07:03"
                        }
                    ]
                },
                {
                    "title": "Asked for Free",
                    "type": 1,
                    "data": [
                        {
                            "answered_by": {
                                "id": "testuser3_id",
                                "username": "Rchlwngx",
                                "fullname": "Rachel Wong",
                                "tagline": "Beauty Blogger, Make-up expert.",
                                "number_of_followers": 58,
                                "number_of_following": 21,
                                "description": "Obsesses with everything beauty, make-up",
                                "avatar_url": "https://avatars.io/instagram/RachelWong"
                            },
                            
                            "asked_by": {
                                "id": "testuser2_id",
                                "username": "Xx",
                                "fullname": "Xia Xue",
                                "tagline": "I am unique, the only unique on in the world.",
                                "number_of_followers": 58,
                                "number_of_following": 21,
                                "description": "Obsesses with everything beauty, make-up",
                                "avatar_url": "https://avatars.io/instagram/XiaXue"
                            },
                            
                            "id": "dkkdasdf",
                            "question": "Hey Rachel, is there any downsides to being a celebrity in Singapore?",
                            "number_of_likes": 15,
                            "liked_by_me": false,
                            "price": 20,
                            "question_creation_date": "03-05-2017 05:07:03",
                            "deadline": "04-05-2017 05:07:03"
                        }
                    ]
                }
            ]
        }


## Pending respond [/questions/me/pending_respond]

### /questions/me/pending_respond [GET]

+ Response 200 (application/json)

        {
            "error": "",
            "error_message": "",
            "data": [
                {
                    "title": "Answer",
                    "type": 0,
                    "data": [
                        {
                            "answered_by": {
                                "id": "testuser3_id",
                                "username": "Rchlwngx",
                                "fullname": "Rachel Wong",
                                "tagline": "Beauty Blogger, Make-up expert.",
                                "number_of_followers": 58,
                                "number_of_following": 21,
                                "description": "Obsesses with everything beauty, make-up",
                                "avatar_url": "https://avatars.io/instagram/RachelWong"
                            },
                            
                            "asked_by": {
                                "id": "testuser2_id",
                                "username": "Xx",
                                "fullname": "Xia Xue",
                                "tagline": "I am unique, the only unique on in the world.",
                                "number_of_followers": 58,
                                "number_of_following": 21,
                                "description": "Obsesses with everything beauty, make-up",
                                "avatar_url": "https://avatars.io/instagram/XiaXue"
                            },
                            
                            "id": "dkkdasdf",
                            "question": "Hey Rachel, is there any downsides to being a celebrity in Singapore?",
                            "number_of_likes": 15,
                            "liked_by_me": false,
                            "price": 20,
                            "question_creation_date": "01-05-2017 05:07:03",
                            "deadline": "04-05-2017 05:07:03"
                        }
                    ]
                },
                {
                    "title": "Answer for Free",
                    "type": 1,
                    "data": [
                        {
                            "answered_by": {
                                "id": "testuser3_id",
                                "username": "Rchlwngx",
                                "fullname": "Rachel Wong",
                                "tagline": "Beauty Blogger, Make-up expert.",
                                "number_of_followers": 58,
                                "number_of_following": 21,
                                "description": "Obsesses with everything beauty, make-up",
                                "avatar_url": "https://avatars.io/instagram/RachelWong"
                            },
                            
                            "asked_by": {
                                "id": "testuser2_id",
                                "username": "Xx",
                                "fullname": "Xia Xue",
                                "tagline": "I am unique, the only unique on in the world.",
                                "number_of_followers": 58,
                                "number_of_following": 21,
                                "description": "Obsesses with everything beauty, make-up",
                                "avatar_url": "https://avatars.io/instagram/XiaXue"
                            },
                            
                            "id": "dkkdasdf",
                            "question": "Hey Rachel, is there any downsides to being a celebrity in Singapore?",
                            "number_of_likes": 15,
                            "liked_by_me": false,
                            "price": 20,
                            "question_creation_date": "03-05-2017 05:07:03",
                            "deadline": "04-05-2017 05:07:03"
                        }
                    ]
                }
            ]
        }

# Group Media

By default, the medial should be uploaded into S3 buckets using AWS SDK

# Group Activities

We support the following activities: 
* type=0: USER unlocked your question.
* type=1: USER liked the answer to your question.
* type=2: USER started following you.
* type=3: USER answered your question.
* type=4: USER viewed your question.

## Retrieve Activites API [/activities]

### /activities [GET]

+ Response 200 (application/json)

            {
                "error": "",
                "error_message": "",
                "data": [
                    {
                        "id": "acti_id_001",
                        "type": 0,
                        "question_id": "q001",
                        "user_id": "u007",
                        "description": "This user unlocked your question",
                        "avatar_url": "https://avatars.io/instagram/XiaXue",
                        "fullname": "Tony",
                        "cover_url": "",
                        "created_date": "01-05-2017 05:07:03",
                    },
                    {
                        "id": "acti_id_002",
                        "type": 1,
                        "question_id": "q002",
                        "user_id": "u007",
                        "description": "This user liked your question",
                        "avatar_url": "https://avatars.io/instagram/XiaXue",
                        "fullname": "Tony",
                        "cover_url": "https://dxve5j6gnlkmu.cloudfront.net/1488898739554/frame_0000.png",
                        "created_date": "01-05-2017 05:07:03",
                    },
                    {
                        "id": "acti_id_003",
                        "type": 2,
                        "question_id": "q003",
                        "user_id": "u007",
                        "description": "This user started following your question",
                        "avatar_url": "https://avatars.io/instagram/XiaXue",
                        "fullname": "Tony",
                        "cover_url": "",
                        "created_date": "01-05-2017 05:07:03",
                    },
                    {
                        "id": "acti_id_004",
                        "type": 3,
                        "question_id": "q004",
                        "user_id": "u007",
                        "description": "This user answered your question",
                        "avatar_url": "https://avatars.io/instagram/XiaXue",
                        "fullname": "Tony",
                        "cover_url": "",
                        "created_date": "01-05-2017 05:07:03",
                    },
                    {
                        "id": "acti_id_004",
                        "type": 4,
                        "question_id": "q004",
                        "user_id": "u007",
                        "description": "This user viewed your question",
                        "avatar_url": "https://avatars.io/instagram/XiaXue",
                        "fullname": "Tony",
                        "cover_url": "",
                        "created_date": "01-05-2017 05:07:03",
                    }
                ]
            }

# Group Payment 
(integrate with Stripe)

These APIs would be used by Stripe SDK, the structure of the response 
will be different than the general structure.

## Retrieve Customer API [/customer]

### /customer [GET]

+ Response 200 (application/json)

    + Body
    
            {
              "id": "cus_AEqlGoOKcQHMaJ",
              "object": "customer",
              "account_balance": 0,
              "created": 1488811455,
              "currency": "sgd",
              "default_source": null,
              "delinquent": false,
              "description": null,
              "discount": null,
              "email": null,
              "livemode": false,
              "metadata": {
              },
              "shipping": null,
              "sources": {
                "object": "list",
                "data": [
            
                ],
                "has_more": false,
                "total_count": 0,
                "url": "/v1/customers/cus_AEqlGoOKcQHMaJ/sources"
              }
            }
            
## Attach a new payment source to the Customer for the currently-logged in user [/customer/sources]

https://stripe.com/docs/api#create_card

### /customer/sources [POST]

+ Request (application/json)

        {
            "source": "pack125-499"
        }

+ Response 200 (application/json)

    + Body
    
            {
              "id": "card_19nptJJFZjEDjveklNCrNHkR",
              "object": "card",
              "address_city": null,
              "address_country": null,
              "address_line1": null,
              "address_line1_check": null,
              "address_line2": null,
              "address_state": null,
              "address_zip": null,
              "address_zip_check": null,
              "brand": "Visa",
              "country": "US",
              "customer": "cus_AEqoOMt5uUek1X",
              "cvc_check": null,
              "dynamic_last4": null,
              "exp_month": 8,
              "exp_year": 2018,
              "funding": "credit",
              "last4": "4242",
              "metadata": {
              },
              "name": null,
              "tokenization_method": null
            }

## Select a new default payment source on the Customer for the currently logged-in user [/customer/default_source]

https://stripe.com/docs/api#update_customer

### /customer/default_source [POST]

+ Request (application/json)

        {
            "defaultSource": "pack125-499"
        }

+ Response 200 (application/json)

    + Body
    
            {
              "id": "cus_AErBkSoU0UU5RN",
              "object": "customer",
              "account_balance": 0,
              "created": 1488813014,
              "currency": "sgd",
              "default_source": null,
              "delinquent": false,
              "description": "Customer for sofia.martin@example.com",
              "discount": null,
              "email": null,
              "livemode": false,
              "metadata": {
              },
              "shipping": null,
              "sources": {
                "object": "list",
                "data": [
            
                ],
                "has_more": false,
                "total_count": 0,
                "url": "/v1/customers/cus_AErBkSoU0UU5RN/sources"
              }
            }


# Group Coins

## Get current Coins [/coins]

### /coins [GET]

+ Response 200 (application/json)

    + Body

            {
                "error": "",
                "error_message": "",
                "data": {
                    "coins" : 15
                }
            }

## Redeem daily bonus [/coins/redeem_daily]

### /coins/redeem_daily [POST]

+ Response 200 (application/json)

    + Body

            {
                "error": "",
                "error_message": "",
                "data": {
                    "coins" : 15 //new coins value
                }
            }

## Selling option  [/coins/packs]

### /coins/packs [GET]

+ Response 200 (application/json)

    + Body

            {
                "error": "",
                "error_message": "",
                "data": [
                    {
                        "pack_id": "pack125-499",
                        "coins": 125,
                        "price": 4.99,
                        "tag": "Most popular"
                    },{
                        "pack_id": "pack520-1999",
                        "coins": 520,
                        "price": 19.99
                    }
                ]
            }


## Buy coins [/coins/buy]

### /coins/buy [POST]

+ Request (application/json)

        {
            "pack_id": "pack125-499"
        }

+ Response 200 (application/json)

    + Body

            {
                "error": "",
                "error_message": "",
                "data": {
                    "coins" : 15 //new coins value
                }
            }